<!-- begin one-month calendar -->
<table class="calendar" summary="Monthly calendar.">
	<caption node="con:caption">January</caption>
	<thead>
		<tr>
			<th node="rep:labels" scope="col" title="Sunday">S</th>
			<th node="del:" scope="col" title="Monday">M</th>
			<th node="del:" scope="col" title="Tuesday">T</th>
			<th node="del:" scope="col" title="Wednesday">W</th>
			<th node="del:" scope="col" title="Thursday">T</th>
			<th node="del:" scope="col" title="Friday">F</th>
			<th node="del:" scope="col" title="Saturday">S</th>
		</tr>
	</thead>
	<tbody>
		<tr node="rep:week">
			<td node="del:">&nbsp;</td>
			<td node="del:">&nbsp;</td>
			<td node="rep:day" class="wkday"><a href="archives/2013-01-01.html">1</a></td>
			<td class="wkday" node="del:">2</td>
			<td class="wkday" node="del:">3</td>
			<td class="wkday" node="del:">4</td>
			<td class="wkend" node="del:">5</td>
		</tr>
		<tr node="del:">
			<td class="wkend">6</td>
			<td class="wkday">7</td>
			<td class="wkday">8</td>
			<td class="wkday">9</td>
			<td class="wkday">10</td>
			<td class="wkday">11</td>
			<td class="wkend">12</td>
		</tr>
		<tr node="del:">
			<td class="wkend">13</td>
			<td class="wkday">14</td>
			<td class="wkday">15</td>
			<td class="wkday">16</td>
			<td class="wkday">17</td>
			<td class="wkday">18</td>
			<td class="wkend">19</td>
		</tr>
		<tr node="del:">
			<td class="wkend">20</td>
			<td class="wkday">21</td>
			<td class="wkday">22</td>
			<td class="wkday">23</td>
			<td class="wkday">24</td>
			<td class="wkday">25</td>
			<td class="wkend">26</td>
		</tr>
		<tr node="del:">
			<td class="wkend">27</td>
			<td class="wkday">28</td>
			<td class="wkday">29</td>
			<td class="wkday">30</td>
			<td class="wkday">31</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr node="del:">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
<!-- end one-month calendar -->
